.contadorPregunta{
    font-size: 5rem;
}

.list-group-item{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color:black;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.classSeleccionada{
    background-color: #131d2d;
    color:white;
}

.btn-aceptar{
    width: 100%;
    font-size: 20px;
}

.btn-aceptar:hover{
    color: white;
}
